
html {
    background: transparent;
    font-family: 'Open Sans', sans-serif;

}
h2 {
    line-height: 3;
    color: silver;
}

#sideBar {
    color: #F1F2F1;
}
#searchhistory {
    color: blanchedalmond;
}
#submitbar {
    width: 50%;
}
#container {
    width: 100%;
    height: 10%;
background-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(#685981, transparent);
    height: 100%;
}

#date {
    margin-left: 53px;
    font-family: 'Roboto', sans-serif;
}

#saved {
    
    color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 1%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #0a070aba;
    border-bottom: 3px solid #816399;
    border-radius: 12px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 28px;
    border-top-left-radius: 31px;
    border-top-right-radius: 41px;
}

#saved:hover {
    color: whitesmoke;
    padding: 2%;
    padding-left: 9%;
    padding-right: 9%;
    background-color: #6b416b99;
}


#city {
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px;
    float: left;
}

#cityHead {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff0ff;
    position: relative;
    text-shadow: 2px 3px 3px #32283a;
}


#weather {
    color: blanchedalmond;
    margin-top: 17px;
    background-color: #0a070aba;
    border-bottom: 3px solid #816399;
    border-radius: 12px;
    padding: 10px;
    float: right;
    width: 60%;
    text-shadow: 2px 3px 3px #32283a;
}

#location {
    font-family: 'Roboto', sans-serif;
    color: #d8b0d9eb;
    text-align: center;
    font-weight: bold;
    font-size: auto;
}


#rightBar {
    float: inherit;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    border-bottom: 3px solid #816399;
    color: white;
}


#cityInput {
    outline: none;
    padding-left: 15px;
    padding-right: 8px;
    margin-right: 7px;
    background-color: #00000099;
    border-radius: 1rem;
    border-bottom: 3px solid #816399;
    color: white;
}

#setCity {
    outline: none;
    margin: -22px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 10px;
    color: #ffebcd;
    background-image: linear-gradient(#202020, #000000);
    float: inherit;
    position: relative;
}
#setCity:hover {
    transition: 0.5 ease-in;
    color: #000000;
    background-image: linear-gradient(#cccceb, #b69ac0);
    font-weight: bold
}


/* Preloader information, Authentic Weather Loader by Tim Holman */

@import "compass/css3";
.preloader {
    position: absolute;
    margin-left: -55px;
    margin-top: -100px;
    height: 110px;
    width: 110px;
    left: 50%;
    top: 50%;
}

svg {
    width: 110px;
    height: 110px;
}

path {
    stroke: #838794;
    stroke-width: 0.25;
    fill: #241E20;
}

#cloud {
    position: relative;
    z-index: 2;
}

#cloud path {
    fill: #F1F2F1;
}

#sun {
    margin-left: -10px;
    margin-top: 6px;
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 45px;
    top: 15px;
    z-index: 1;
    animation-name: rotate;
    animation-duration: 16000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sun path {
    stroke-width: 0.18;
    fill: #F1F2F1;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}


/* Rain */

.rain {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -32px;
    margin-left: 19px;
}

.drop {
    opacity: 1;
    background: #7684A3;
    display: block;
    float: left;
    width: 3px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0px 0px 6px 6px;
    animation-name: drop;
    animation-duration: 350ms;
    animation-iteration-count: infinite;
}

.drop:nth-child(1) {
    animation-delay: -130ms;
}

.drop:nth-child(2) {
    animation-delay: -240ms;
}

.drop:nth-child(3) {
    animation-delay: -390ms;
}

.drop:nth-child(4) {
    animation-delay: -525ms;
}

.drop:nth-child(5) {
    animation-delay: -640ms;
}

.drop:nth-child(6) {
    animation-delay: -790ms;
}

.drop:nth-child(7) {
    animation-delay: -900ms;
}

.drop:nth-child(8) {
    animation-delay: -1050ms;
}

.drop:nth-child(9) {
    animation-delay: -1130ms;
}

.drop:nth-child(10) {
    animation-delay: -1300ms;
}

@keyframes drop {
    50% {
        height: 45px;
        opacity: 0;
    }
    51% {
        opacity: 0;
    }
    100% {
        height: 1px;
        opacity: 0;
    }
}

.text {
    letter-spacing: 1px;
    text-align: center;
    margin-left: -43px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 11px;
    color: #F1F2F1;
    width: 200px;
}

/* Animated Background */

html {
	background: linear-gradient(-45deg, #46486E, #3a2144);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

body{
    background-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
